.container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}
.flex {
    display: flex;
}
.flex-d-column {
    flex-direction: column;
}
.align-i-center {
    align-items: center;
}
.justify-c-center {
    justify-content: center;
}
.justify-c-space-b {
    justify-content: space-between;
}
.screen {
    height: calc(100vh - 64px);
}
.mg-b-3 {
    margin-bottom: 3rem;
}
/* Icon */
.expertise-icon {
    width: 32px;
    height: 32px;
}