:root {
    --base-color: rgb(0, 170, 255);
    --secondary-color-one: rgb(0, 77, 144);
    --secondary-color-two: #abbdd7;
    --dark-blue: rgb(0, 23, 52);
}
body {
    margin: 0;
    font-family: Arial;
    overflow-x: hidden;
    background-color: rgb(9, 15, 21); /* I like this backgroundColor*/
    color: #FFF;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    max-height: 4rem;
}
#coder {
    margin-right: 3rem;
    padding: 1rem auto auto auto;
    flex: 3;
    height: 100%;
    color: rgb(255, 255, 255);
    text-align: end;
}
h3 {
    margin: auto 1em 0 1rem;
    border-bottom: .5px solid var(--base-color);
    border-radius: 3px;
    padding: .5em;
    color: #FFF;
    text-align: center;
}
nav {
    flex: 3;
    align-self: center;
    justify-content: space-between;
    height: 4rem;
}
#menu {
    margin-left: 1rem;
    display: none;
}
nav ul {
    margin: 0;
    padding: 0 1em;
    list-style: none;
    transition: all .5s;
}
.show-menu {
    transform: translateX(100%);
}
nav ul {
    height: 100%;
}
nav li {
    padding: 0 1rem;
}
nav ul li a {
    margin: 0;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    height: 100%;
    background-color: var(--secondary-color-one);
}
nav ul li a span {
    margin: 0;
    padding-left: .25rem;
}
main {
    margin : 53px auto;
}
#main-intro {
    margin: -4.5rem auto;
    padding: 0 1rem;
    letter-spacing: 2px;
    text-align: center;
    max-width: 100%;
    background-color: rgb(9, 15, 21);
}
#main-h1 {
    margin-top: 0;
    font-size: 7rem;
    text-align: center;
    color: lightgray;
}
#main-intro h1 strong {
    color: var(--secondary-color-two);
}
#main-intro p {
    padding-bottom: 0;
    font-weight: bold;
}
#main-intro p {
    margin: 0 .3em;
    padding-bottom: 2em;
    font-size: 1.3rem;
    text-align: center;
    color: lightgray;
}
#main-intro button {
    margin: 1.5em auto;
    border: none;
    border-radius: 6px;
    padding: 1rem 2rem;
    font-size: 1.15rem;
    background-color: var(--secondary-color-one);
    cursor: pointer;
}
#main-intro button:hover {
    background: var(--dark-blue);
}
#main-intro a {
    text-decoration: none;
    color: #FFF;
}

/* Expertise */
#expertise {
    margin: 0 auto;
    padding-bottom: 4rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.925)), url('./img/general/code.png');

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#expertise-title {
    height: 0;
    font-size: 4rem;
    text-align: center;
}
#expertise-areas {
    flex-wrap: wrap;
}
.expertise-area {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 2rem;
    padding-top: 1rem;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    height: 20rem;
}
.expertise-area-title, .expertise-area-content {
    flex-direction: row;
}
.expertise-area-content {
    padding: 0 1rem;
}
.expertise-icon {
    margin-right: 1rem;
}
.expertise-area-title h2 {
    margin: 0;
    margin-left: 1rem;
}
.expertise-area-title-1 {
    border-bottom: 3px solid rgb(255, 183, 0);
}
.expertise-area-title-2 {
    border-bottom: 3px solid rgb(193, 0, 161);
}
.expertise-area-title-3 {
    border-bottom: 3px solid var(--base-color);
}
.expertise-area-content {
    margin-top: 2rem;
    width: 100%;
}
.expertise-area-content div {
    width: 1px;
    height: 100%;
    color: gray;
}
.expertise-area-content p {
    padding-top: 1rem;
    margin-left: 1rem;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    color: rgb(220, 220, 220);
}
#frontend-dev-icon {
    width: 36px;
}
.horizontal-line {
    width: 3px;
    height: 170%;
    background-color: gray;
}

/* Projects */
#projects {
    margin: 0 auto;
    margin-top: 4rem;
    padding: .5em auto;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 3rem;
    width: 100%;
}
section {
    padding: 2em 0;
}
.single-project {
    margin: 0 auto;
    border-radius: 6px;
    background-color: rgb(20, 20, 20);
    max-width: 90%;
}
img {
    max-width: 100%;
    height: auto;
}
#go-up-button {
    display: none;
    position: fixed;
    right: 30px;
}
#go-up-icon {
    width: 48px;
}
.animation-icon {
    animation: muevete 1s 2s;
}
/* Slider */
.slider {
     margin: auto;
     width: 95%;
     overflow: hidden;
}
.slider ul {
    padding: 0;
    width: 400%;
    animation: cambio 50s infinite alternate ease-in-out;
}
.slider ul li {
	width: 100%;
	list-style: none;
}
.slider li img {
	width: 100%;
}

/* Footer */
footer {
    margin: 0 auto;
    padding-top: 2rem;
    background: rgb(10, 10, 10);
    max-width: 100%;
}
.networks {
    width: 100%;
    max-width: 500px;
}
footer a {
    color: #FFF;
    text-decoration: none;
}
address p {
    text-align: center;
}